"SHOULD be disabled by default" or not.

revision 00 removed this text:

"Consequently, the use of temporary addresses SHOULD be disabled by 
default in order to minimize potential disruptions.  Individual
applications, which have specific knowledge about the normal duration
of connections, MAY override this as appropriate."

Unclear of why.

1) RFC 7934
2) RFC 7258
3) All major OSes ship with temporary addresses enabled by default

I will make this more explicit in Section 5 of the document. (it currently only mentions RFC7258)

Issue closed?

FWIW, the working copy has the following as Section 5:
5.  Significant Changes from RFC4941

   This section summarizes the changes in this document relative to RFC
   4941 that an implementer of RFC 4941 should be aware of.

   Broadly speaking, this document introduces the following changes:

   o  Addresses a number of flaws in the algorithm for generating
      temporary addresses: The aforementioned flaws include the use of
      MD5 for computing the temporary IIDs, and reusing the same IID for
      multiple prefixes (see [RAID2015] and [RFC7721] for further
      details).

   o  Allows hosts to employ only temporary addresses:
      RFC4941 assumed that temporary addresses were configured in
      addition to stable addresses.  This document does not imply or
      require the configuration of stable addresses, and thus
      implementations can now configure both stable and temporary
      addresses, or temporary addresses only.

   o  Suggests that temporary addresses be enabled by default:
      Enabling temporary addresses by default is in line with BCP188
      ([RFC7258]), and also with BCP204 ([RFC7934]).

   o  Addresses all errata submitted for [RFC4941].

Anything else needed to close this issue?